/*
CUSTOM CSS
---------------------------------------------------------------------------------------------------- */
.hidden {
  display: none; }

a:active,
a:focus {
  outline: none; }

#menu-main-menu li {
  transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -webkit-transition: background .15s ease-in-out; }

/* Homepage Section - Slideshow
--------------------------------------------- */
#meteor-slides-widget-3 {
  display: none; }

.widget_meteor-slides-widget {
  font-size: 2em; }

.meteor-slides .meteor-buttons {
  position: absolute;
  text-align: center;
  box-sizing: initial;
  width: 100%;
  height: 9px;
  left: 10px;
  right: 0;
  bottom: 15px;
  margin: 0 auto 40px !important;
  padding: 6px 0 0;
  z-index: 999; }
  .meteor-slides .meteor-buttons a {
    display: inline-block;
    float: none;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    margin: 0 20px 0 0 !important;
    border-radius: 16px;
    transition: all 0s ease 0s;
    background: #f3f3f3;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
    .meteor-slides .meteor-buttons a.activeSlide {
      background: #4ec5cd !important; }
  .meteor-slides .meteor-buttons.navpaged, .meteor-slides .meteor-buttons.navboth {
    margin-bottom: 0px !important; }
.meteor-slides p {
  font-family: "Dancing Script", cursive;
  color: #fff;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.6); }
  .meteor-slides p.slide-main-text {
    margin-top: 40px;
    line-height: 1.4em;
    font-size: 1.6em; }
  .meteor-slides p.slide-button-title {
    font-size: 1.3em;
    line-height: 1em;
    padding: 10px 0px; }
  .meteor-slides p.slide-button-links {
    padding: 10px 0px; }
.meteor-slides .mslide a.slide-buttons {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
  padding: 20px;
  min-width: 200px;
  min-height: 60px;
  background: rgba(78, 197, 205, 0.8);
  border: 3px solid #fff; }
  .meteor-slides .mslide a.slide-buttons:hover {
    background: rgba(52, 168, 176, 0.8); }
.meteor-slides .slide-container {
  position: absolute;
  text-align: center;
  display: block;
  top: 0px;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  background: linear-gradient(to bottom, rgba(31, 31, 31, 0.4) 0%, rgba(31, 31, 31, 0) 100%);
  height: 860px;
  max-height: 100%; }
  .meteor-slides .slide-container .slide-text-container {
    display: block;
    color: #fff;
    position: relative;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.6); }

/* Homepage Section - About Us
--------------------------------------------- */
.home-section-1 {
  padding-bottom: 0;
  margin-bottom: -14px; }
  .home-section-1 .textwidget {
    text-align: left; }

/* Homepage Section - Base Locations
--------------------------------------------- */
#base-locations {
  margin: 0 37%; }

.base-locations-header {
  color: #212121;
  font-size: 24px;
  font-weight: 600; }
  .base-locations-header .base-locations-subheader {
    color: #4ec5cd;
    font-family: "Dancing Script", cursive;
    padding: 20px;
    font-size: 56px;
    line-height: 56px; }

.base-locations-container {
  margin-bottom: -8%;
  overflow: hidden; }

.location-images {
  display: none; }

.location-hover {
  height: 210px;
  width: 300px;
  overflow: hidden;
  border: 4px solid #4ec5cd;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin-left: 50%;
  margin-bottom: -10px;
  position: relative; }
  .location-hover img {
    height: auto;
    width: 200px; }

.jvectormap-tip {
  border: none !important;
  border-radius: 0px !important;
  background: transparent !important; }

.legend {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto -5px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000; }

/* Homepage Section - Aircraft Fleet
--------------------------------------------- */
#gallery-2 {
  color: transparent; }
  #gallery-2 figcaption {
    font-size: 14px;
    line-height: 1.2; }
  #gallery-2 .gallery-item {
    padding: 4px 20px;
    margin: 10px 0px;
    color: #212121;
    border: 3px solid transparent;
    transition: border .25s ease-in-out;
    -moz-transition: border .25s ease-in-out;
    -webkit-transition: border .25s ease-in-out; }
    #gallery-2 .gallery-item:hover {
      border: 3px solid #dfdfdf; }
    #gallery-2 .gallery-item .gallery-icon {
      height: 100px;
      text-align: center; }

/* Homepage Section - Quote/Callouts
--------------------------------------------- */
.quote,
.call-now {
  color: #fff;
  background: #4ec5cd;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 999; }

.quote {
  font-size: 36px;
  height: 146px;
  line-height: 146px;
  margin: 0 auto; }

.call-now {
  font-weight: 700;
  font-size: 20px;
  height: 90px;
  margin: 0px auto;
  line-height: 90px; }
  .call-now a {
    color: #fff; }
    .call-now a:hover {
      color: #686868; }
  .call-now i {
    margin-left: 20px; }
  .call-now label {
    margin: 0px 30px 0px 60px; }
  .call-now .call-tel,
  .call-now .call-mob {
    display: inline-block; }

/* Homepage Section - Membership - Membership Table
--------------------------------------------- */
.home-section-4 {
  background-size: cover;
  background-position: center; }
  .home-section-4 h2.widgettitle {
    font-size: 36px;
    margin-bottom: 0px;
    color: #fff; }
  .home-section-4 .sub-title {
    color: #fff;
    font-size: 56px; }
  .home-section-4 .membership-table {
    overflow: auto; }
    .home-section-4 .membership-table .one-third {
      color: #fff;
      background: rgba(78, 197, 207, 0.9);
      border: 1px solid #238f96;
      padding: 20px 30px;
      font-size: 1em;
      line-height: 1.4em;
      min-height: 290px; }
    .home-section-4 .membership-table .inner-title {
      color: #fff;
      font-family: "Lato", sans-serif;
      font-weight: 800;
      font-size: 1.6em !important; }
  .home-section-4 .learn-more {
    margin-top: 50px; }

.learn-more-button,
.ap-promo-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid #fff;
  color: #fff; }
  .learn-more-button:hover,
  .ap-promo-button:hover {
    color: #fff !important;
    background: rgba(52, 168, 176, 0.8); }

/* Homepage Section - Rates
--------------------------------------------- */
.rates-table > div {
  background: #fff;
  margin-bottom: 40px; }
.rates-table .one-fourth {
  min-width: 263px; }
.rates-table h2 {
  background: #4ec5cd; }
.rates-table h3.rates-table-title {
  color: #fff;
  padding: 10px 0px;
  margin: 0;
  background: #4ec5cd !important; }
.rates-table img {
  height: auto;
  width: 100%; }
.rates-table ul {
  margin-top: -10px; }
  .rates-table ul li {
    border-top: 2px solid #f3f3f3;
    background: #fff; }
    .rates-table ul li a {
      color: #212121;
      font-size: 16px; }
.rates-table .rates-table-link {
  padding: 15px 0px; }
  .rates-table .rates-table-link:hover {
    color: #fff;
    background: #4ec5cd; }
.rates-table .rates-table-link,
.rates-table .rates-more ul li {
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out; }
.rates-table .rates-more ul li {
  padding: 16.5px 40px; }
  .rates-table .rates-more ul li:hover {
    background: #fff;
    color: #212121; }
  .rates-table .rates-more ul li.rates-inquire {
    margin-top: 24px;
    text-transform: uppercase;
    padding: 0px; }
    .rates-table .rates-more ul li.rates-inquire a {
      color: #fff !important;
      font-weight: 700;
      display: block;
      padding: 16.5px 40px;
      background: #4ec5cd; }
      .rates-table .rates-more ul li.rates-inquire a:hover {
        background: #34a8b0; }

/* Homepage Section - Contact Us
--------------------------------------------- */
.home-section-6 {
  background-color: #f3f3f3 !important; }

.contact-us {
  padding: 20px;
  background-color: #fff;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #212121; }

.contact-us h4,
.map h4 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  text-align: left;
  color: #212121; }

.contact-tel,
.contact-mob {
  color: #4ec5cd;
  font-size: 14px;
  font-weight: 700;
  width: 50%;
  padding-bottom: 20px;
  float: left;
  text-align: left;
  display: inline-block; }

.contact-left,
.contact-right {
  width: 49.5%;
  display: inline-block; }

.contact-form,
.contact-form input,
.contact-form textarea,
.pop-email,
.pop-join,
.pop-email input,
.pop-join input,
.map-inquire {
  font-size: 14px; }

.contact-form input,
.contact-form textarea,
.pop-join textarea,
.pop-email input,
.pop-join input {
  background-color: #eaeaea;
  border: none;
  padding: 8px; }

.contact-left,
.contact-right,
.contact-form p {
  margin-bottom: 20px; }

.contact-form input[type="submit"],
.pop-email input[type="submit"],
.pop-join input[type="submit"],
.map-inquire {
  background-color: #4ec5cd; }

.contact-form input[type="submit"],
.contact-form input[type="submit"]:hover,
.pop-email input[type="submit"],
.pop-join input[type="submit"],
.pop-email input[type="submit"]:hover,
.pop-join input[type="submit"]:hover,
.map-inquire {
  height: 40px; }

.contact-form input[type="submit"]:hover,
.pop-email input[type="submit"]:hover,
.pop-join input[type="submit"]:hover,
.map-links li a:hover,
.map-inquire:hover {
  background-color: #34a8b0; }

.pop-email p,
.pop-join p {
  text-align: left;
  color: #212121;
  margin-bottom: 20px; }

/*----- Contact Tabs -----*/
.contact-tabs {
  width: 100%;
  display: inline-block;
  background: #f3f3f3;
  background-repeat: no-repeat;
  background-size: cover; }
  .contact-tabs .contact-tab-links .one-fifth {
    width: 20%; }
  .contact-tabs .tab {
    display: block;
    opacity: 0;
    left: -9999px;
    position: absolute; }
    .contact-tabs .tab .google-map {
      padding: 15px 0px; }

.contact-tab-content .tab.active {
  display: block;
  padding: 0px 40px;
  opacity: 1;
  position: relative;
  left: 0px;
  max-width: 1140px;
  padding: 0px; }

/*----- Contact Tab Links -----*/
.contact-tab-links-container {
  background-color: #f3f3f3; }

.contact-tab-links {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  /* Clearfix */ }
  .contact-tab-links:after {
    display: block;
    clear: both;
    content: ''; }
  .contact-tab-links li {
    margin: 0px;
    float: left;
    list-style: none; }
    .contact-tab-links li a {
      height: 35px;
      line-height: 35px;
      width: 100%;
      border: 1px solid #eaeaea; }

.contact-tab-links li a:hover,
.map-inquire,
a.map-inquire:hover {
  color: #fff;
  border: none;
  font-weight: 700; }

.contact-tab-links li a:hover,
.contact-tab-content .tab .google-map {
  background: #4ec5cd; }

.contact-tab-links li a,
.contact-tab-content .tab .map-details,
.map-details .map-name h4,
.pop-dir h4,
.pop-dir p {
  color: #212121; }

.contact-tab-links li a,
.contact-tab-content .tab .map-details,
.pop-dir,
.pop-email,
.pop-join {
  background-color: #fff; }

.contact-tab-content .tab .map-details {
  padding: 20px;
  text-align: left; }

.map-details .map-name h4,
.pop-dir h4 {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  margin-bottom: 0px; }

.map-details .map-address,
.map-details .map-links,
.pop-dir p {
  font-size: 14px; }

.map-details .map-name h4,
.map-details .map-address,
.map-details .map-links,
.pop-dir h4,
.pop-dir p {
  padding-bottom: 10px; }

.map-details .map-name h4,
.map-details .map-links,
.pop-dir h4 {
  font-weight: 700; }

.map-details .map-links {
  height: 30px; }

.map-address p,
.pop-dir p {
  margin-bottom: 10px;
  line-height: 24px; }

.contact-tab-links li a,
.map-links .map-links-label,
.map-links ul,
.map-links li,
.map-links li a,
.map-inquire {
  display: inline-block; }

.map-links .map-links-label {
  float: left; }
.map-links ul {
  float: right; }
  .map-links ul li {
    padding-left: 5px; }
    .map-links ul li a {
      height: 30px;
      width: 120px;
      transition: background .25s ease-in-out;
      -moz-transition: background .25s ease-in-out;
      -webkit-transition: background .25s ease-in-out; }
      .map-links ul li a:hover {
        color: #fff; }

.map .contact-apply {
  padding: 20px;
  background: #fff;
  margin-top: 20px;
  text-align: left;
  color: #212121;
  font-size: 24px;
  line-height: 40px; }

.contact-apply h4 {
  display: inline-block;
  margin-bottom: 0; }

.map-inquire {
  float: right;
  width: 300px;
  max-width: 100%;
  margin-left: 20px;
  padding: 0px 10px;
  line-height: 40px;
  text-transform: uppercase;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out; }

.contact-tab-links li,
.map-links li a,
.map-inquire {
  text-align: center; }

.contact-maps {
  text-align: center;
  position: relative; }

.map-container {
  margin: 0 auto; }

.map-view,
.map-email,
.pop-dir-close {
  cursor: pointer; }

.pop-dir,
.pop-email,
.pop-join {
  padding: 30px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 9999; }

.pop-dir {
  max-width: 600px; }

.pop-email,
.pop-join {
  max-width: 480px;
  max-height: 100%;
  overflow: auto; }

.pop-email h4,
.pop-join h4 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #212121;
  line-height: 30px;
  padding-bottom: 20px;
  margin-top: 20px; }

.pop-dir-close {
  height: 30px;
  color: #212121;
  text-align: right;
  font-family: 'Dashicons';
  font-size: 24px;
  position: absolute;
  right: 30px; }

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(31, 31, 31, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999; }

/* Membership Page
--------------------------------------------- */

/*# sourceMappingURL=custom.css.map */
